body{
    background-color: #6d9ec4;
    height: 98vh;
}

.container{
    width: max-content;
    margin: auto;
    transform: translateY(100%);
    flex-flow: row;
}

.container kbd{
    background-color: white;
    width: 2.5cm;
    height: 7cm;
    line-height: 10cm;
    margin: 0;
    border: 4px outset;
    display: inline-block;
    text-align: center;
}